*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Bad Script', cursive;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* Seccion Home */
.header-home{
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0px 10px 15px black;
  opacity: 0.7;
  padding-top: 10px;
}
.header-home h1{
  width: 40%;
  text-align: center;
}
.header-home h1 a{
  text-decoration: none;
  color: white;
}
.header-home nav{
  padding: 20px 0px;
  width: 60%;
}
.control-menu{
    display: none;
}
.header-home nav ul{
  display: flex;
  justify-content: flex-end;
}
.header-home nav ul li{
  margin-right: 20px;
}
.header-home nav ul li a{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.home{
  margin-top: 39%;
}
.main-text h1{
  font-size: 48px;
  text-align: center;
}
.main-text p{
  font-size: 20px;
  text-align: center;
}
.main-products{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.product-box{
  width: 30%;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0px 0px 10px 15px black;
  opacity: 0.7;
  padding: 10px;
}
.container-img img{
  width: 100%;
  border-radius: 15px;
}
.container-inf{
  text-align: center;
  color: white;
}
.elaboration{
  margin-top: 30px;
  text-align: center;
}
.container-iframe{
  margin-top: 30px;
}
.footer-home{
  margin-top: 60px;
  width: 100%;
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 10px 15px black;
  opacity: 0.7;
  align-self: flex-end;
}
.footer-home nav ul li a{
  color: white;
  font-size: 20px;
}
.footer-home p{
  color: white;
  font-size: 13px;
}
.footer-home a i{
  color: white;
}

/* Seccion nosotros*/
.about{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-about .description{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.main-about .description-box{
  width: 33%;
  padding: 10px;
}
.main-about .description .description-box h3{
  text-align: center;
}

/* Seccion Contacto */
.contact-box{
  width: 100%;
  padding: 10px;
}

/* Seccion Registro */
.main-register{
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.container-register form h2{
  text-align: center;
}
.container-register form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.option{
  display: flex;
  justify-content: space-around;
}
.option label, .option-radio-group label , .option-checkbox-group label{
  width: 30%;
  margin: 5px;
}
.option input, .option-radio , .option-checkbox{
  width: 60%;
  margin: 5px;
}
.option-radio-group , .option-checkbox-group{
  display: flex;
  justify-content: space-around;
}
#button{
  width: 30%;
  background-color: black;
  color: white;
  opacity: 0.7;
}

/*Media queries */
  @media only screen and (min-width : 768px) and (max-width: 1223px) {
    video{
      display: none;
    }
    body{
      background-image: url(../img/fondo.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    .header-home{
      background-color: #5e2129;
      box-shadow: none;
      opacity: 1;
    }
    .home{
      margin-top: 50px;
    }
    .main-products{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      flex-wrap: wrap;
    }
    .product-box{
      width: 45%;
      border-radius: 15px;
      background-color:  #5e2129;
      box-shadow: none;
      opacity: 1;
      padding: 10px;
    }
    #box-3{
      margin-top: 30px;
    }
    .container-inf p{
      font-size: 20px;
    }
    .footer-home{
      background-color: #5e2129;
      box-shadow: none;
      opacity: 1;
    }
    /* Seccion about */
    .description{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    #description-box-1 , #description-box-2, #description-box-3{
      width: 45%;
    }
    /*Seccion contacto*/
    .main-contact{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    /*Seccion Registro y login*/
    .container-register{
      width: 70%; 
    }
  }
  @media only screen and (max-width: 767px){
    video{
      display: none;
    }
    body{
      background-image: url(../img/fondo.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    .header-home{
      background-color: #5e2129;
      box-shadow: none;
      opacity: 1;
      display: flex;
      flex-direction: column;
    }
    .header-home h1{
      text-align: center;
      width: 100%;
    }
    .header-home nav{
      display: contents;
      float: left;
      width: 100%;
      padding: 0px;
      text-align: center;
      align-items: center;
    }
    .control-menu{
      display: block;
    }
    .control-menu a span {
      display: inline-block;
      text-indent: -9999px;
      height: 40px;
      width: 40px;
    }
    .control-menu .close {
      background-image: url("../img/close-menu.png");
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
    }
    .control-menu .open {
      background-image: url("../img/open-menu.png");
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
    }
    .list-menu {
      clear: both;
      height: 0;
      overflow: hidden;
    	transition: height 0.5s ease-out;
    }
    #menu:target .list-menu {
      height: 160px;
    	transition: height 1s ease-out;
      width: 100%;
    }
    .close{
    	display: none;
    }
    #menu:target .open{
    	display: none;
    }
    #menu:target .close{
    	display: block;
    }
    .header-home nav ul{
      display: flex;
      flex-direction: column;
    }
    .header-home nav ul li{
      margin-right: 0px;
    }
    .home{
      margin-top: 50px;
    }
    .main-products{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      flex-wrap: wrap;
    }
    .product-box{
      width: 100%;
      border-radius: 15px;
      background-color:  #5e2129;
      box-shadow: none;
      opacity: 1;
      padding: 10px;
      margin-top: 20px;
    }
    .container-inf p{
      font-size: 20px;
    }
    .footer-home{
      background-color: #5e2129;
      box-shadow: none;
      opacity: 1;
    }
    /* Seccion about */
    .main-about{
      display: flex;
      flex-direction: column;
    }
    .description{
      margin-top: 20px !important;
      flex-direction: column;
    }
    .description-box{
      flex-direction: column;
      width: 100% !important;
    }
    iframe{
      width: 100%;
    }
    /*Seccion registro y login */
    .container-register{
      width: 100%;
    }
    /*Seccion contacto*/
    .main-contact{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
